version: '3.8'

services:
  envio_sla_app:
    build: .
    container_name: envio_sla_app
    restart: unless-stopped

    ports:
      - "5000:5000"

    environment:
      - FLASK_ENV=production
      - SECRET_KEY=${SECRET_KEY}

      # Banco Site - USA NOME DO CONTAINER!
      - DB_SITE_HOST=postgres_dw_sla
      - DB_SITE_PORT=5432
      - DB_SITE_DATABASE=dw_sla
      - DB_SITE_USER=jonatan_lopes
      - DB_SITE_PASSWORD=Jl2@24Jl

      # Banco Vista (servidor externo)
      - DB_VISTA_HOST=${DB_VISTA_HOST}
      - DB_VISTA_PORT=${DB_VISTA_PORT}
      - DB_VISTA_DATABASE=${DB_VISTA_DATABASE}
      - DB_VISTA_USER=${DB_VISTA_USER}
      - DB_VISTA_PASSWORD=${DB_VISTA_PASSWORD}

      # Evolution API - USA NOME DO CONTAINER!
      - EVOLUTION_BASE_URL=http://evolution_api:8080
      - EVOLUTION_API_KEY=309754692928797528226121395208
      - EVOLUTION_INSTANCE_NAME=envio_gps

    volumes:
      - ./logs:/app/logs

    networks:
      - evolution-net

networks:
  evolution-net:
    external: true
